*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background: red;

}
.container{
    width: 100%;
    height: max-content;
    background:#7C222D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.logo{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}
.logo img{
    height: 40px;
}
header ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    margin-right: 10px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
.produit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px;
    margin: auto;
}
.produit img{
    height: 250px;
}
.info{
    width: 400px;
    color: #fff;
}
.info h2{
    font-size: 50px;
    margin-bottom: 10px;
}
.info p{
    font-size: 20px;
    margin-bottom: 20px;
}
.info button{
    width:  100px;
    padding: 8px 20px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
}
.touts_produits{
    width: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.touts_produits img{
    height: 60px;
    transition: transform 0.3s ease-in-out;
}
.touts_produits img:hover{
    transform: scale(1.2);
}
.volume{
   display: flex;
    align-items: end;
    justify-content: space-between;
    width: 400px;
    margin: auto;
}
.volume .volume-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.volume .volume-item img{
    height:50px;
}
.L1{
    height: 70px;
}
.LZ{
    height: 90px;
}